$limegreen: limegreen;
$palegreen: #98e698;
$darkgreen: #228f22;
$fontcolor: #00a562;
$background: #e3f3e5;
$border-color: #bac6d3;

.tags {
  header {
    margin: 0px auto;
    height: 200px;
    .logo-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      h1.title {
        font-size: 4rem;
        padding-bottom: 10px;
        background: linear-gradient($darkgreen, $limegreen);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .logo img {
        width: 350px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  article {
    margin-top: 150px;
    .card {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 100%;
      margin: 50px auto;
      border: 1px solid rgba(182, 178, 178, 0.903);
      box-shadow: 0 0 8px rgb(123, 122, 122);
      .heading {
        border-bottom: 1px solid rgba(182, 178, 178, 0.903);
        .text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 30px;
          .tags {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 50px;
              border-radius: 50%;
            }
            a {
              color: black;
              text-decoration: underline;
            }
          }
          span.tag {
            display: block;
            color: rgba(136, 132, 132, 0.8);
            margin: 20px 30px;
            font-size: 1.2rem;
            border: 1px solid rgb(201, 199, 199);
          }
        }
      }
      .tag-wrapper {
        .tag-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 70px;
          padding: 0 50px;
          border-bottom: 1px solid rgba(182, 178, 178, 0.903);
          cursor: pointer;
          &:hover {
            background: rgba(198, 197, 197, 0.723);
          }
          .tag-name {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tags {
    article {
      .card {
        margin-top: 80px;
        width: 90%;
        .main {
          .contents {
            h1 {
              font-size: 1.8em;
            }
            h2 {
              font-size: 1.3em;
            }
            h2::before {
              height: 30px;
            }
            p {
              font-size: 0.8em;
            }
            li {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}
