$limegreen: limegreen;
$palegreen: #98E698;
$darkgreen: #228F22;
$mainColor: #1ac067;

.course-wrapper {
  margin: 150px 0;
  .course-heading {
    margin-left: 30px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
      font-size: 2em;
      font-weight: 100;
    }
    .underline {
      margin-top: 10px;
      height: 5px;
      width: 100%;
      background: linear-gradient(to right, $darkgreen, $limegreen);
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0;
    gap: 50px;
    .course-card {
      display: flex;
      gap: 30px;
      background: #fff;
      padding: 50px 80px;
      box-shadow: 0px 0px 10px gray;
      width: 100%;
      cursor: pointer;
      .course-text {
        width: 60%;
        padding: 30px;
        h2 {
          margin-bottom: 20px;
        }
        .language-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          margin-top: 20px;
          background: rgba(186, 198, 211, 0.18);
          padding: 20px 10px;
          width: 80%;
          .language-heading {
          }
          .language {
            display: flex;
            margin-left: 30px;
            gap: 20px;
          }
        }
      }
      .course-img {
        width: 30%;
      }
    }
  }
}
