$limegreen: limegreen;
$palegreen: #98e698;
$darkgreen: #228f22;
$mainColor: #1ac067;
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

main {
  .contents {
    width: 100%;
    margin: 50px auto;
    .container {
      width: 70%;
      margin: 50px auto;
      .article-wrapper {
        margin: 50px 0;
        .index-heading {
          margin-top: 150px;
          // .underline {
          //   margin-top: 10px;
          //   height: 5px;
          //   width: 100%;
          //   background: linear-gradient(to right, $darkgreen, $limegreen);
          // }
          span {
            font-family: 'Caveat', cursive;
            padding: 20px;
            padding-right: 30px;
            background: $darkgreen;
            font-size: 2em;
            color: #fff;
            font-weight: 100;
          }
        }
        .row {
          display: flex;
          // justify-content: space-around;
          flex-wrap: wrap;
          margin: 0;
          gap: 50px;
          .card {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 500px;
            padding: 0px;
            padding-bottom: 20px;
            border: 1px solid rgba(182, 178, 178, 0.903);
            box-shadow: 0 0 8px rgb(123, 122, 122);
            overflow: hidden;
            background-color: #fff;
            border-radius: 5%;
            margin-top: 50px;
            a {
              padding: 0;
              img {
                height: 250px;
                width: 100%;
                object-fit: center;
              }
              img:hover {
                transition: 0.2s;
                transform: scale(1.1);
              }
            }
            .article-content {
              padding: 30px 30px 0px 30px;
            }
            .tag {
              padding: 0 30px;
            }
            .text {
              padding: 0px;
              background-color: #fff;
              a:hover {
                opacity: 0.8;
              }
              span {
                display: block;
                color: rgba(136, 132, 132, 0.8);
                margin-bottom: 20px;
              }
              .article-title {
                margin-bottom: 30px;
                a {
                  margin-bottom: 30px;
                  // border: none;
                  color: black;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
        .paginate {
          position: relative;
          width: 100%;
          height: 100px;
          margin-top: 50px;
          .nextPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            margin: 0;
            background-color: #fff;
            color: black;
            border: 1px solid black;
            padding: 5px 10px;
            cursor: pointer;
            .nextPage-inner {
              display: flex;
              justify-content: space-between;
              .icon {
                padding-top: 3px;
              }
            }
          }
          .currentPage {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100px;
            margin: 0;
            font-size: 1.2em;
            span {
              font-size: 1.5em;
            }
          }
          .prevPage {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            margin: 0;
            background-color: #fff;
            color: black;
            border: 1px solid black;
            padding: 5px 10px;
            cursor: pointer;
            .prevPage-inner {
              display: flex;
              justify-content: space-between;
              .icon {
                padding-top: 3px;
              }
            }
          }
          .nextPage:hover {
            background-color: black;
            color: #fff;
            .icon {
              color: #fff;
            }
          }
          .prevPage:hover {
            background-color: black;
            color: #fff;
            .icon {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  // MacBook 13inch用のブレークポイント
  main {
    .contents {
      .container {
        width: 90%;
        .article-wrapper {
          .row {
            gap: 30px;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .contents {
      .container {
        .article-wrapper {
          margin-top: 100px;
          .index-heading {
            margin: 0 auto;
            margin-top: 50px;
            width: 150px;
            font-size: 15px;
            text-align: center;
            span {
              font-size: 2em;
              padding: 10px;
              padding-right: 20px;
            }
            .underline {
              margin-top: 5px;
              height: 5px;
            }
          }
          .row {
            margin-top: 30px;
            .card {
              width: 300px;
              height: 100%;
              margin-top: 0;
              a {
                img {
                  height: 180px;
                }
              }
              .article-content {
                padding: 0 30px;
              }
              .tag {
                padding: 0 30px;
              }
              .text {
                margin-top: 10px;
                .article-title {
                  margin-bottom: 10px;
                }
              }
            }
          }
          .paginate {
            .nextPage {
              width: 80px;
            }
            .currentPage {
              left: 40%;
            }
            .prevPage {
              width: 80px;
            }
          }
        }
      }
    }
  }
}
