$darkblue: rgba(83, 102, 212, 0.855);
$paleblue: rgb(3, 205, 212);
$darkpink: rgba(132, 78, 226, 0.826);
$palepink: rgba(232, 130, 218, 0.849);
$limegreen: limegreen;
$palegreen: #98E698;
$darkgreen: #228F22;
$mainColor: #1ac067;
$blue: #1940a5;
$backgroundColor: #f9fbfe;
