// ヘッダー
header {
  margin: 0px auto;
  height: 200px;
  a.logo-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    h1.title {
      font-size: 4rem;
      padding-bottom: 10px;
      background: linear-gradient(blue, pink);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .logo img {
      width: 25vw;
      height: 150px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
    a.logo-wrapper {
      h1.title {
        font-size: 2em;
      }
      .logo img {
        width: 40vw;
      }
    }
  }
}
