*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #f2f4fb;
  background-color: white;
  font-family: Avenir, Hiragino Sans Gothic ProN, Meiryo, sans-serif;
}

a {
  text-decoration: none;
  padding: 8px 15px;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  background-color: #f9fbfe;
}
