$limegreen: limegreen;
$palegreen: #98E698;
$darkgreen: #228F22;
$fontcolor: #00a562;
$background: #e3f3e5;
$border-color: #bac6d3;

#course {
  .container {
    width: 70%;
    margin: 0 auto;
    .header {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      width: 100%;
      .header-text {
        width: 50%;
        h1 {
          margin-bottom: 20px;
        }
        p {
          font-size: 1.2em;
        }
        .language-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          margin-top: 20px;
          background: rgba(186, 198, 211, 0.18);
          padding: 20px 10px;
          width: 80%;
          .language-heading {
          }
          .language {
            display: flex;
            margin-left: 30px;
            gap: 20px;
          }
        }
      }
      .header-img {
        width: 30%;
        img {
          width: 100%;
          border-radius: 15px;
        }
      }
    }
    .main {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
      width: 100%;
      padding-left: 30px;
      .guide {
        width: 30%;
        height: 100%;
        position: sticky;
        top: 50px;
        background: $background;
        border: 1px solid black;
        box-shadow: 0px 0px 10px rgb(194, 194, 194);
        padding: 30px 10px;
        ul {
          li {
            color: black;
            margin-top: 10px;
            margin-left: 40px;
            list-style: square;
            font-size: 0.9em;
            cursor: pointer;
          }
        }
      }
      .card-wrapper {
        width: 60%;
        .card {
          background: #fff;
          box-shadow: 0px 0px 10px gray;
          margin-bottom: 100px;
          padding-top: 20px;
          position: relative;
          .step-heading {
            margin-left: 30px;
          }
          .step-heading::before {
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            left: 0;
            height: 35px;
            width: 6px;
            background: $darkgreen;
          }
          .step-heading::after {
            content: '';
            display: block;
            position: absolute;
            top: 65px;
            width: 90%;
            height: 2px;
            background: $border-color;
          }
          .description {
            margin-left: 30px;
            margin-top: 40px;
            width: 80%;
          }
          .contents {
            display: flex;
            gap: 30px;
            align-items: center;
            margin-top: 30px;
            background: $background;
            padding: 40px 0 40px 60px;
            a {
              color: black;
              border: 1px solid black;
              background: linear-gradient(to right, $darkgreen, $limegreen);
              margin-top: 90px;
              color: #fff;
              border: none;
              box-shadow: 2px 2px #d0d0d0;
            }
            a:active {
              box-shadow: none;
              position: relative;
              top: 2px;
            }
            .contents-img {
              width: 30%;
            }
            .contents-text {
              width: 40%;
              span {
                font-size: 1.3em;
                font-weight: 600;
              }
              div {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                width: 100%;
                margin-top: 10px;
              }
            }
          }
          .triangle {
            width: 50px;
            height: 200px;
            clip-path: polygon(0 0, 0% 100%, 100% 50%);
            background: linear-gradient(to right, $darkgreen, $limegreen);
            position: absolute;
            bottom: -150px;
            left: 45%;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
